@font-face
{
    font-family: 'Dreieque';
    src: url('Fonts/Dreieque.ttf');
    font-weight: normal;
    font-style: normal;
}

.ImageContainer
{
    display: flex;
    text-align: center;
}


.loader {
    display: none;
    margin-top: 480px;
    position: fixed;
    border: 4px solid #ffffff;
    border-top: 4px solid #6f4199;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.UploadImageViewContainer
{
position: fixed;
display: flex;
justify-content: center;
align-items: center;
width: 200px;
height: 200px;
z-index: 9999;
}

.SelectedUploadBtn
{
    display: inline-block;
    height: 39px;
    width: 184px;
    background-size: 160px;
    background-position: center;
    background-image: url(ui_design/UploadBtn.png);
    text-decoration: none;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-top: 480px;
}

.UploadImageView
{
position: fixed;
display: flex;
justify-content: center;
align-items: center;
width: 300px;
height: 300px;
object-fit: contain;
z-index: 9999;
}

.FileNameContainer
{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin-top: 370px;
}

.UploadImageViewSwitchBtn
{
    display: flex;
    width: 30px;
    height: 30px;
    background-image: url('ui_design/photo_library_FILL0_wght400_GRAD0_opsz24.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-bottom: 510px;
    margin-right: 510px;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.UploadImageViewCloseBtn
{
    display: flex;
    width: 35px;
    height: 35px;
    background-image: url('ui_design/close_FILL0_wght600_GRAD-25_opsz48.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    margin-bottom: 510px;
    margin-left: 510px;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.uploadBoxContainer
{
gap: 40px;
position: fixed;
display: flex;
justify-content: center;
align-items: center;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
z-index: 2;
width: 600px;
height: 600px;
backdrop-filter: blur(25px);
background-color: rgba(0, 0, 0, 0.4);
border-radius: 35px;
}

.uploadBackgroundContainer
{
    position: fixed;
    display: none;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.uploadBtn
{
    display: flex;
    width: 200px;
    height: 200px;
    background-image: url('ui_design/AddBackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}

.splashScreenContainer
{
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
justify-content: center;
align-items: center;
z-index: 9999;
background-color: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(25px);
}

.splashScreenTop
{
position: fixed;
margin-bottom: 600px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.splashScreenUploadContainer
{
margin-top: 10px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 50px;
}


.Background
{
    background-color: #381b53;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

#imageCount
{
    font-size: 30px;
}

.TopLine
{
    height: 50px;
    gap: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 17px;
    margin-top: 10px;
}

.GermanFurryBtn
{
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-position: center;
    background-image: url(discordIcon.png);
    color: #fff;
    background-color: rgb(56, 27, 83);
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.TwitterBtn
{
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: 20px;
    background-position: center;
    background-image: url(XIcon.png);
    background-color: rgb(56, 27, 83);
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.Headline
{
height: 170px;
display: flex;
justify-content: center;
align-items: center;
}



.ImageCountContainer
{
height: 100px;
display: flex;
justify-content: center;
align-items: center;
}

*
{
font-family: 'Dreieque', sans-serif;
color: white;
background: none;
}

.Ueberschrift
{
font-size: 120px;
background: none;
}

.SplashUeberschrift
{
    font-size: 100px;
    background: none;
}


.SplashUploadText
{
    font-size: 17px;
    width: 400px;
    text-align: center;
    line-height: 25px;
    color: rgb(201, 201, 201);
}



.TopImageContainer
{
    width: 100%px;
    display: flex;
    justify-content: center;
}

.TopImage
{
    width: 400px;
    height: 400px;
}


.ImageContainerContainer
{
    width: 500px;
    height: 500px;
    display: flex;
}