
@font-face {
    font-family: 'Dreieque';
    src: url('Dreieque.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'Dreieque', sans-serif;
    color: white;
    background-color: rgb(43, 23, 48);
}


.Ueberschrift{
    font-size: 100px;
}
